<% include partials/header %>
<h1>THIS IS INDEX</h1>
<div class="ui container segment">
    <% blogs.forEach(function(blog){ %>
    <div class="ui segment">
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" class="ui medium image">
        <span><%= blog.created.toDateString() %></span>
        <p><%= blog.body.substring(0, 100) %>...</p>
        <a href="/blogs/<%=blog._id%>">Read More</a>
    </div>
    <% }); %>
</div>
<% include partials/footer %>